<!DOCTYPE html>
<html>
<head>
    <title>Device Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>SilentZone</h1>
</header>
<main>
    <h2>Devices</h2>
    <div class="controls">
        <input type="text" placeholder="Search">

        <button class="btn"><i class="fa fa-home"></i> Add Device</button>
        <button class="btn"><i class="fa fa-bars"></i> Find Device in Mesh Wifi</button>
    </div>
    <div class="wrapper">
        <div class="box a">
            <div class="row title">Device Name </div>
            <div class="row number">IP Device - 192.822.100</div>
            <div class="row time">Last Time: 10:00 AM</div>
        </div>

    </div>
</main>
<script src="app.js"></script>
</body>
</html>